name: pull-request-auto-merge

on:
  pull_request:

permissions:
  id-token: write
  contents: write
  pull-requests: write
  checks: write

jobs:
  pull-request-auto-merge:
    runs-on: codebuild-codebuild-gha-lambda-runner-example-rust-dev1-${{ github.run_id }}-${{ github.run_attempt }}
    steps:
    - uses: actions/checkout@v6

    - name: Pull request auto merge enabler
      uses: poad/github-pull-request-auto-merge-enable-action@v3
      with:
        pull_request_number: ${{ github.event.pull_request.number }}
        github_token: ${{ secrets.GITHUB_TOKEN }}
        repository: ${{ github.event.repository.name }}
        owner: ${{ github.repository_owner }}
        merge_method: SQUASH
        with_approve: 'true'
